
@charset "utf-8";

/* CSS Document */
* {
    text-decoration: none !important;
}
:root{
   --color:white;
   --fnd : #1b0202;
   --fndRsp: white;
   --colorRsp: black;
}
.cajaNav{
   font-family: sans-serif;
   display:flex;
   justify-content: space-between;
   background:var(--fnd);
   color: var(--color);
}
.cajaNav .barNav{
   margin:0 10px 0 0;
}
.cajaNav .titNav{
   display:flex;
   justify-content:space-between;
   align-items:center;
   flex: 1;
   background:var(--fnd);
   color:var(--color);
   height:auto;
} 
.cajaNav .titNav .toggle{
   display:none;
}
.cajaNav .titNav .logo{
   margin: 10px 10px;
}
.cajaNav .barNav {
   display:flex;
   list-style:none;
   align-items: center;
   padding:0;
}
.cajaNav .barNav li{
   display:flex;
   align-items:center;
   padding: 0 20px ;
   height:100%; 
}
.cajaNav .barNav li:hover{
   background: var(--color);
   color:var(--fnd);
   cursor: pointer;
}
.cajaNav .barNav li a{
   text-decoration: none;
   cursor: pointer;
   color:inherit;
}
.opaca{
    display: flex;
    filter:brightness(0.4);
    
   
}
.form_1{
    width: 97%;
    display: flex;
}
.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #1d465c;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
}
.col-6{
    margin: 3px;
    
}

/* Para que los links no queden azules */
A:link {text-decoration:none;color:#00000f;} 
A:visited {text-decoration:none;color:#070500;} 
A:active {text-decoration:none;color:#050000;} 
A:hover {text-decoration:underline;color:#999999;} 

.footer{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f4d8f7;


}
.logoFijo {
    margin: 1%;
    width: 4rem;
    position: fixed;
    bottom: 5rem;
    right: 2%;
    z-index: 20;
}
.texto{
   
    background-color:transparent;
    /* border: solid black; */
    border-radius: 15px;
    width: 35%;
    position:relative;
    color: #fff;
    z-index:1000;
    flex-direction: column;
    margin-right: auto;
    text-align: left;
    max-width: 80em;
    margin-top: 20%;
    margin-bottom: 20%;

}
.caja1{
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top:-230px;
    /* margin-bottom: -10px; */
}
.text {
    
    padding-top: -10px;
    font-size: 21px;
    border-radius: 20px;
    text-align:right;
    /* word-wrap: break-word; */
}

/*modificaciones elias*/

*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.logoflotante{
    display: flex; /*elimina scroll horizontal y espacio en blanco a la derecha*/
}
.card-img-top{
    margin: 5px;
    width: auto;
    border-radius: 10px;
}
.container{
    width: 100%;
}
.row{
    width: 100%;
    justify-content: space-around;
}
.card{
    background-color:#F4D8F7 ;
    height: 100%;
}
.card-body-text{
    margin: 20px;
    background-color: #384861;
    padding: 15px;
    border-radius: 20px;
}
.dona{
    display: flex;
    justify-content: center;
    width: auto;
}
.registro{
    display: inline-flex;
    padding: 20px;
    justify-content:center;
    border-radius: 30px;
    background-color: #F4D8F7;
    margin: 20px;
    max-width: 70%;

}
.registro_article{
    align-content: center;
    justify-content: center;
}
.registro_article_cont{
    display: inline;
}
.registro_article_p{
    text-align: center;
    font-size: 24px;
}
.registro_article_h3{
    text-align: center;
}
.div_imagen_dona{
    display:inline-flex;
    max-width: 30%;
    justify-content: center;

}
#imagen_dona{
    width: 70%;
    height: auto;
    border-radius:20% ;
}






/* Color de fondo del menu 
 .container-fluid{
    display:flex;
    justify-content: flex-start;
    background-color: #353a40;
    margin-top: -10px;
    margin-bottom: -10px;
    height: 80px;
    text-decoration: none; 
} 
@charset "utf-8";
/* CSS Document 
:root{
   --color:white;
   --fnd : #1b0202;
   --fndRsp: white;
   --colorRsp: black;
}
.cajaNav{
   font-family: sans-serif;
   display:flex;
   justify-content: space-between;
   background:var(--fnd);
   color: var(--color);
}
.cajaNav .barNav{
   margin:0 10px 0 0;
}
.cajaNav .titNav{
   display:flex;
   justify-content:space-between;
   align-items:center;
   flex: 1;
   background:var(--fnd);
   color:var(--color);
   height:auto;
} 
.cajaNav .titNav .toggle{
   display:none;
}
.cajaNav .titNav .logo{
   margin: 10px 10px;
}
.cajaNav .barNav {
   display:flex;
   list-style:none;
   align-items: center;
   padding:0;
}
.cajaNav .barNav li{
   display:flex;
   align-items:center;
   padding: 0 20px ;
   height:100%; 
}
.cajaNav .barNav li:hover{
   background: var(--color);
   color:var(--fnd);
   cursor: pointer;
}
.cajaNav .barNav li a{
   text-decoration: none;
   cursor: pointer;
   color:inherit;
}

/* Tarea con puntos de corte y grid */

/* Crear 3 puntos de corte de manera tal que en cada uno sólo
se visualice el dispositivo correspondiente (celular, tablet, pc).
Asimismo, con grid establecer:
- Para celulares los artículos en una misma columna y la imagen debajo
- Para tablet´s los artículos en una misma columna y la imagen ubicada a la derecha del párrafo. */